<h2>Posts</h2>

<table class="table">
  <tr>
    <th>標題</th>
    <th>作者</th>
    <th>留言数</th>
    <th>订阅数</th>
    <th>留言用户</th>
    <th>按赞用户</th>
  </tr>
    <%= render :partial => "post", :collection => @posts, :as => :post %>
  <!-- 整个 @posts.each 循环都拿掉了，新的 :collection 参数就会帮你做循环。 -->
</table>

<%= paginate @posts %>
